<footer class="footer">
  <p>The IKAN ALM documentation website. The content on this website is property of IKAN Development N.V. For more information, visit: <a href="https://www.ikanalm.com/" target="_blank" rel="noopener noreferrer">www.ikanalm.com</a></p>
</footer>
